
#greeting {
  padding: 10px;
  height: 50px;
  background-color: #d9d5d5;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  margin-top: 130px;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: background-color 0.3s ease;
}
.input-section {
  margin-bottom: 20px;
  padding: 100px;
  text-align: center;
}
.input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(154, 146, 146);
}

